path {
  stroke: #fff;
}

/*
.mySIO-sequence {
	float: right;
	width: 25%
}

text.trail {
	color: gray;
}

rect.breadRect{
	stroke-dasharray: 0,200,100;
}
.mySIO-Chart {
  float: left;
  width: 75%;
}
*/
text {
	font-family: sans-serif;
	font-size: 13px;
	fill: #7a7a52;
}

.buttonDiv {
  pointer-events: all;
  position: absolute;
  display: inline-block;
  min-width: 30px;
  height: auto;
  background: rgba(255,255,255,0.20);
  padding: 2px;
  text-align: center;
}

.button {
  fill: rgba(0,0,0,0.30);
  padding: 1px;
  margin: 1px;
  width: 25px;
  height: 25px;
}