path {
  stroke: #fff;
}

/*
.mySIO-sequence {
	float: right;
	width: 25%
}

text.trail {
	color: gray;
}

rect.breadRect{
	stroke-dasharray: 0,200,100;
}
.mySIO-Chart {
  float: left;
  width: 75%;
}
*/
text {
	font-family: sans-serif;
	font-size: 13px;
	fill: #7a7a52;
}